<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="progress.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Create New Task</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script>
         $(document).ready(function() {
    $('select').material_select();
  });
    </script>
</head>

<body>

<nav>
    <div class="nav-wrapper blue lighten-1">
      <a href="../" class="brand-logo" style="padding-left: 1%">Be Good</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

                {%if current_user.is_authenticated %}
                    <li><progress style="-webkit-appearance: progress-bar" value="70" max="100"></progress></li>
                    <li style="padding-left: 15px">{{current_user.s_name}}</li>
                    <li style="padding-left: 15px; padding-right: 15px" >{{current_user.name}}</li>
                {% endif %}
      </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <form class = "col s6 offset-l3" action="../tasks/add" method="post" enctype="multipart/form-data">
            <div class="row">
                <input type="text" value="" name="name" placeholder="Task Name" required>
            </div>
            <div class="row">
                <input type="text" value="" name="description" placeholder="Надо сделать что-то хорошее..." required>
            </div>
            <div class="row">
              <div class="input-field">
    <select name="category" required>
      <option value="" disabled selected>Выбирете категорию</option>
        {% for c in category %}
            <option value="{{ c.id }}">{{ c.name }}</option>
        {% endfor %}
    </select>
  </div>
                </div>
            <div class="row">
                <input type="date" value="" name="date" class="datepicker" required>
            </div>
            <div class="row">
                <input type ="time" value="" name="time" required>
            </div>
            <div class="row">
                <input type ="text" placeholder="Самара, 5 просека, 24" value="" name="location" required>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn orange" type="submit">Добавить</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>