<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="progress.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Create New Post</title>
    <style>
        h5{
            text-transform: uppercase
        }
    </style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/index" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<header>
    <ul id="nav-mobile" class="side-nav fixed blue lighten-3" style="transform: translateX(0%);">
        <ul class="collection" style="border: 0px; padding-left: 5%" >
            <li class="collection-header"><font color="white">Категории:</font></li>
            {% for category in category_list %}
                <li><a href = "/tasks?category={{category.id}}"><font color="white">{{category.name}}</font></a></li>
            {% endfor %}
        </ul>
    </ul>
</header>


<div class="row">
{% include 'nav.html'%}
    <div class="col s9 offset-l2" style="padding-left: 11%; padding-right: 0%">
{% for task in task_list %}

        <div class="card blue lighten-3">
            <div class="card-content white-text">
                <span class="card-title"><h5 align="right">{{task.name}}</h5></span>
                <p>{{task.time}}</p>
                <p><img src= "https://lh4.googleusercontent.com/54FqOPgZTjnlKzWAty9M0ngeIsLliCG6QNuxI_jkBWjjDjg_uUGRP20aiK9AChyKGj2xyyO2TcoW020=w1440-h759" width="18"> {{task.location}}</p>
                <div class = "card-action"><p align="justify">{{task.description}}</p></div>
            </div>
            <div class="card-action">
                {% if current_user not in task.members %}
                <a href = "/tasks/{{task.id}}" class="waves-effect waves-light btn orange" >Откликнуться</a>
                {% else %}
                <a href = "/tasks/{{task.id}}" class="waves-effect waves-light btn light-green" >Уже учавствую!</a>
                {% endif %}
                {% if current_user.id == task.owner.id %}
                <a href = "/tasks/{{task.id}}/edit" class="waves-effect waves-light btn orange" >Редактировать</a>
                {% endif %}
            </div>
        </div>
{% endfor %}
        </div>
</div>


</body>
</html>



