<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="progress.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Create New Post</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/index" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<header>
    <ul id="nav-mobile" class="side-nav fixed grey" style="transform: translateX(0%);">
        <ul class="collection" style="border: 0px; padding-left: 5%" >
            <li class="collection-header">Категории:</li>
            {% for category in category_list %}
                <li><a href = "/tasks?category={{category.id}}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </ul>
</header>


<div class="row">
{% include 'nav.html'%}
    <div class="col s9 offset-l2" style="padding-left: 11%; padding-right: 0%">
{% for task in task_list %}

        <div class="card blue lighten-3">
            <div class="card-content white-text">
                <span class="card-title">{{task.name}}</span>
                <p>{{task.time}}</p>
                <p>{{task.location}}</p>
                <p>{{task.description}}</p>
            </div>
            <div class="card-action">
                {% if current_user not in task.members %}
                <a href = "/tasks/{{task.id}}" class="waves-effect waves-light btn orange" >Откликнуться</a>
                {% else %}
                <a href = "/tasks/{{task.id}}" class="waves-effect waves-light btn light-green" >Уже учавствую!</a>
                {% endif %}
                {% if current_user.id == task.owner.id %}
                <a href = "/tasks/{{task.id}}/edit" class="waves-effect waves-light btn orange" >Редактировать</a>
                {% endif %}
            </div>
        </div>
{% endfor %}
        </div>
</div>


</body>
</html>



