<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>О проекте</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>

</head>
<body>
    {% include 'nav.html' %}
        <div class="container">
            <div class = "card-panel fixed blue lighten-3">
                <font color="white"><h5><p align="center">
                    Be Good - это сайт, который объединяет людей, нуждающихся в помощи и людей, готовых им помочь.
                    Благодаря интуитивно понятному интерфейсу вы всегда сможете найти задание по интересующей вас категории
                    и посмотреть, где именнно требуется ваше участие. Кроме того, оказывая помощь, вы не только поддерживаете тех,
                    кто в этом нуждается, но и проходите определенные квесты, за каждый из которых начисляются баллы. Накопив достаточное
                    количество баллов, вы можете перейти на следующий уровень и повысить свой рейтинг.
                    Be Good. Твори добро, играя!
                </p></h5></font>

                </p>
            </div>
        </div>

</body>
</html>