<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Профиль</title>
    <style>
        h5 {
        text-transform: uppercase;
    }</style>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script>
          $(document).ready(function(){
            $('.collapsible').collapsible();
            });
    </script>
</head>

<body>

    {% include 'nav.html' %}

    <div class="container">
        <div class = "card-panel">
            <p>Имя: {{ user.name }} </p>
            <p>Фамилия: {{ user.s_name }} </p>
            <p>Логин: {{ user.login }} </p>
            <ul class = "collapsible" data-collapsible = "accordion">
                <li class="active">
                    <div class = "collapsible-header">My Tasks: {{ assign_list_size }}</div>
                    <div class="collapsible-body">
                    {% for a in assign_list %}
                        {% if assign_list[-1] != a %}
                            <a href = "../tasks/{{a.id}}">{{ a.name  + ", "}}</a>
                        {% else %}
                            <a href = "../tasks/{{a.id}}">{{ a.name}}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </li>
            </ul>
            </p>
        </div>
    </div>
</body>
</html>
